
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Playwrite+SK:wght@100..400&family=Roboto:wght@400;500;700;900&display=swap');
:root{
    --crema: #f3efde;
    --amarilloclaro: #fed804;
    --amarillofuerte: #fea304;
    --verdeclar:#909320;
    --verdeosc: #125a44;
    --violeta: #37192c;
    --violetaclaro: #cf3095;
    --oscuro:#220315;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    padding: 10px 30px;
    box-shadow: 0px 0px 15px var(--violeta);
    background: linear-gradient( 215deg, var(--violeta) 50%, var(--amarillofuerte) 50%) ;
    position:sticky;
    z-index: 1;
    top: 0;
    left: 0;
}

.header__pic {
    width: 33%; 

}
.header__pic--img {
    border-radius: 50px;
    width: 100px;
}


.header__title {
    font-family: "Concert One", sans-serif;
    
    text-align: center;
    width: 33%;
    color: var(--crema);
    
    
    
}

.header__navbar {
    width: 25%;
}




.header__cart--icon {
    width: 35px;
    margin-left: 35px;
}


.header__navbar--list {
    list-style: none;
    display: flex;
    gap: 3rem;
    width: 25%;    
}

.header__navbar--list > li > a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: var(--amarilloclaro);
}

/*MOBILE-NAVBAR*/

.mobinav {
    display: none;
}


/*HERO*/


.hero{    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 60px;
    background: var(--violetaclaro);
}

.hero__article {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 50px;
    
    
    
}

.hero__article--title {
    font-size: 60px;
    
    
}
.hero__article--paragraph {
    font-size: 40px;    
}

.article__list {
    list-style: none;
    
    
    
}

.article__btn--enlace {
    background: var(--verdeclar);
    box-shadow: 0 0 5px 5px var(--oscuro);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--oscuro);
    font-size: 25px;
    font-weight: bold;
    
}

.article__btn--enlace:hover {
    background: var(--amarillofuerte);
    box-shadow: 0 0 0px 0px var(--oscuro);
    text-decoration: none;
    color: var(--oscuro);
    font-size: 25px;
    font-weight: bold;
}



.hero__pic{
   
    width: 35%;
    flex-grow: 2;
    max-width: 65vw;
}
.hero__pic--img {
    width: 100%;
    position: relative;
}


/*ABOUT US*/

#about{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(var(--violetaclaro), var(--amarillofuerte) );
    
}

.about {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    
}

.about__title {
    font-size: 60px;
}

.about__paragraph {
    font-size: 40px;
    text-align: center;
}

/*NUESTRAS VENTAJAS*/

#advantage {
    padding: 90px;
    
    background-image: linear-gradient(var(--amarillofuerte), var(--violetaclaro));
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

.advantage__header {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    
    gap: 45px;

}

.advantage__header--title {
    
    font-size: 45px;
}

.advantage__header--paragraph {
    
    font-size: 30px;
    
}



.advantage__list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.advantage__list--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(var(--crema), var(--violeta));   
    width: 300px;
    height: 300px;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 20px 10px var(--oscuro);

}


/*CONTACT US*/



#contact {
    display: flex;
    justify-content: space-around;
    padding: 120px 60px;
    background-image: linear-gradient(var(--violetaclaro), var(--verdeclar));

}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    
}

.contact__title {
    font-size: 50px;
    text-align: center;
}

.contact__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
    
.contact__list--item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 35px;
    align-items: center;
    
}

.contact__list--item picture img {
    width: 40px;
    filter:contrast(5);
}


/*FOOTER*/

.footer {
    
    display: flex;
    justify-content: center;
    background: var(--verdeosc);
}

.footer__pic img{
    width: 150px;
    height: 75px;
    filter: contrast(20);
}


@media (max-width: 992px) {

    .mobinav{
        display: flex;
        width: 8%;
        justify-content: flex-end;
        align-items: center;
    }
    .mobinav__input{
        display: none;
    }
    .mobinav__list{
        list-style: none;
        
        position: absolute;

        transform: translate(300px, 160px);
        
        background-color: var(--verdeosc);
        padding: 35px 35px;
        
        gap: 25px;
       
    }
    .mobinav__list--link a{
        text-decoration: none;
        color: var(--crema);
        font-size: 45px;
        font-family: "Concert One", sans-serif;
        
    }
    .mobinav__label--icon {
        width: 35px;
    }
    #menu-toggle:checked ~ .mobinav__list{

        transform: translate(0px, 160px);
        animation: desplazamiento .5s ease-in-out 0s 1 ;
        
    }
    


    .header {
        padding: 0px 30px;
    }
    
    .header__navbar {
        display: none;
    }
    .header__cart {
        width: 33%;
        display: flex;
        justify-content: end;
    }
    .header__cart--icon {
        margin: 0;
        width: 25px;
        
    }
    .header__pic--img {
        width: 45px;
    }
    .header__title {
        font-size: 20px;
    }

    /*HERO*/

    .hero {
        padding: 60px 30px;
        
    }
    .hero__article--title {
        font-size: 35px;
    }
    .hero__article--paragraph {
        font-size: 17.5px;
    }
    .article__btn--enlace {
        background: var(--verdeclar);
        box-shadow: 0 0 2.5px 2.5px var(--oscuro);
        padding: 6px 12px;
        border-radius: 5px;      
        font-size: 12.5px;
              
    }

    .about{
        padding: 60px 30px;
    }

    .about__title {
        font-size: 30px;
    }
    
    .about__paragraph {
        font-size: 20px;
    }



    .advantage {
       
        gap: 37.5px;
    }
    
    .advantage__header {
        display: flex;
        flex-direction: column;
        
        text-align: center;
        
        gap: 22.5px;
    
    }
    
    .advantage__header--title {
        
        font-size: 22.5px;
    }
    
    .advantage__header--paragraph {
        
        font-size: 15px;
        
    }
    
    
    
    .advantage__list {
        
        gap: 25px;
        flex-wrap: wrap;
    }
    
    .advantage__list--card {
       
        height: 200px;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 5px 10px 5px var(--oscuro);
        flex-wrap: wrap;
    
    }




    #contact {
        
        padding: 60px 30px;
       
    }
    
    .contact {
        
        gap: 30px;
        
    }
    
    .contact__title {
        font-size: 25px;
        
    }
    
    .contact__list {
      
        gap: 15px;
    }
        
    .contact__list--item {
        
        gap: 10px;
        font-size: 17.5px;
        
        
    }
    
    .contact__list--item picture img {
        width: 5px;
        filter:contrast(5);
    }

    .contact__pic img{
        width: 300px;

    }



}



@media (max-width: 576px) {

    .hero {
        padding: 15px 3px;
        align-items: center;
        flex-direction: column;
        
        
    }

    .hero__article{
        width: 85%;
    }
    .hero__pic--img {
        display: none;
    }

    .about{
        padding: 15px 3px;
    }

    #advantage{
        width: 100%;
        padding: 15px 3px;
    }

    .advantage__list--card{
        padding: 15px 3px;
        
    }

    #contact {
        
        padding: 30px 15px;
       
    }

    .contact__list--item {
        
        gap: 10px;
        font-size: 10.5px;
        
        
    }
    
    .contact__list--item picture img {
        width: 5px;
        filter:contrast(5);
    }

    .contact__pic img{
        width: 150px;

    }

    .footer__pic img {
        width: 50px;
        height: 25px;
    }
    
}